nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
  a.navbar-brand(href="/") Navbar
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent")
    span.navbar-toggler-icon
  .collapse.navbar-collapse(id="navbarSupportedContent")
    ul.navbar-nav.mr-auto
      li.nav-item(class=(isActive("index")))
        a.nav-link(href="/") Home
          span.sr-only (current)
      if locals.user
        li.nav-item(class=(isActive("profile")))
          a.nav-link(href="/profile") Profile
        li.nav-item
          a.nav-link(href="/logout") Log Out
      else
        li.nav-item
          a.nav-link(href="/login") Log In

- function isActive(page) { return name === page ? "active" : undefined; }
