doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel='stylesheet', href='https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='shortcut icon', href='https://cdn2.auth0.com/styleguide/latest/lib/logos/img/favicon.png')

    title= title

  body
    block nav
      nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
        span.navbar-brand.h1.mb-0 Navbar
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarNav")
          ul.navbar-nav.mr-auto
            li.nav-item(class=(isActive("index")))
              a.nav-link(href="/") Home
            if locals.user
              li.nav-item(class=(isActive("profile")))
                a.nav-link(href="/profile") Profile
              li.nav-item(class=(isActive("secret")))
                a.nav-link(href="/secret") Secret
          ul.navbar-nav
            if locals.user
              li.nav-item
                a.nav-link(href="/logout") Log Out
            else
              li.nav-item
                a.nav-link(href="/login") Log In
              li.nav-item
                a.nav-link(href="/embedded") Log In (Embedded)
              li.nav-item
                a.nav-link(id="loginPopup" href="#") Log In (Popup)

    main.container
      block content

    script(src="https://unpkg.com/jquery@3.5.1/dist/jquery.slim.min.js")
    script(src="https://unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js")
    script(src="https://unpkg.com/bootstrap@4.5.3/dist/js/bootstrap.min.js")
    script(src="https://cdn.auth0.com/js/auth0/9.13.4/auth0.min.js")
    script(type='text/javascript').
      var webAuth = new auth0.WebAuth({
        domain: '#{auth0Domain}',
        clientID: '#{auth0ClientId}',
        responseType: 'code',
        scope:"openid profile email"
      });
      $("#loginPopup").click(function() {
        webAuth.popup.authorize({
          redirectUri: 'http://localhost:4000/callback-popup',
        }, function(err, resp) {
          if (err) {
            console.log(err);
          }
          if (resp) {
            console.log(resp);
          }
        });
      });

  block scripts

- function isActive(page) { return name === page ? "active" : undefined; }
