extends ../layouts/blank

block scripts
  script(src="https://cdn.auth0.com/js/auth0/9.12.1/auth0.min.js")
  script(type='text/javascript').
    var webAuth = new auth0.WebAuth({
      domain:   '#{auth0Domain}',
      clientID: '#{auth0ClientId}'
    });
    webAuth.popup.callback();
