extends ../layouts/default

block content
  .jumbotron
    h1 Navbar example
    p.lead This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.
  if locals.user
    h4 You are logged in!
  else
    h4 You are not logged in!
