extends ../layouts/default

block content
  .row
    .col
      .card.mb-4
        img.card-img-top(src=user.picture)
        .card-body
          h5.card-title  #{user.nickname}
          p.card-text This is the content of <code>req.user</code>.
          p.card-text <small>Note: <code>_raw</code> and <code>_json</code> properties have been omitted.</small>
    .col
    .col
  .row
    .col
      pre.pre-scrollable
        code= profile
